@import '../../styles/variables.scss';

.button {
  font-weight: 400;
  border-radius: 3px;
  padding: 5px 30px;
  border: 1px solid $primary;
  cursor: pointer;
}

.button_primary {
  background-color: $primary;
  color: #fff;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary, 10%);
  }
}

.button_secondary {
  background-color: $bg;
  color: $primary;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $primary;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}


