@import './fonts.scss';

$primaryDark: #050730;
$primaryLight: #003d5e;
$primary: #0c1c3f;
$secondary: #2d2d2d;
$secondaryLight: #fff;
$light: #a3d3ff;
$footerText: grey;
$error: #c93131;

$roboto: 'Roboto', sans-serif;