@import '../../styles/variables.scss';

* {
  margin: 0;
}

.wrapper {
  display: flex;
  width: 30vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $primaryLight;
  border-radius: 10px;
  background-color: $primary;
  padding: 10px;
}

.personalData {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.personalDataTitle {
  color: $secondaryLight;
  margin: 0;
}

.personalDataInput {
  margin-top: 10px;
}

.cardDataTitle {
  color: $secondaryLight;
}

.creditCardWrapper {
  width: 100%;
}

.creditCard {
  background: linear-gradient(180deg, rgba(5, 7, 48, 1) 10%, rgba(17, 114, 102, 1) 96%);
  border: 1px solid $primaryLight;
  margin-top: 10px;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}

.cardData {
  display: flex;
  margin-top: 10px;
  color: $secondaryLight;
}

.dataInput {
  width: 80px;
  margin: 0 5px;
}

.button {
  margin-top: 10px;
  padding: 5px;
}

.error {
  color: $error;
}
