@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.headerWrapper {
  display: flex;
  justify-content: center;
  background-color: $primaryDark;
}

.header {
  max-width: 1024px;
  height: 50px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: $secondaryLight;
}

.headerLogoIcon {
  fill: $secondaryLight;
  width: 30px;
  height: 30px;
}

.headerLogoTitle {
  margin-left: 10px;
  font-weight: 400;
}

.headerText {
  margin-top: 15px;
}

.headerBasket {
  fill: $secondaryLight;
  margin-top: 10px;
  width: 30px;
  height: 30px;
}

.mainWrapper {
  height: calc(100% - 50px);
  display: flex;
  justify-content: center;
}

.mainDecoration {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  background-color: $primaryDark;

  &::before {
    padding-bottom: 60%;
    top: -150px;
    transform: translate(-50%, -35%);
    width: 145%;
    content: '';
    left: 50%;
    background-image: radial-gradient(
      52% 52% at center,
      rgba(34, 36, 39, 0.73) 0%,
      rgba(43, 85, 169, 0.6) 45%,
      transparent 100%
    );
    position: absolute;
    z-index: -1;
  }
}

.main {
  max-width: 1024px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.filters {
  padding: 10px;
  min-width: 250px;
  height: 100%;
  overflow: auto;
  border: 1px solid $primaryLight;
  border-radius: 10px;
  background-color: $primaryDark;
  background-color: $primary;

  &::-webkit-scrollbar {
    display: none;
  }
}

.filtersHeader {
  display: flex;
  justify-content: space-between;
}

.filterHeaderButton {
  font-size: 15px;
  border-radius: 3px;
  padding: 2px 20px;
  border: 1px solid $primaryLight;
  cursor: pointer;
  background-color: $primaryDark;
  color: $secondaryLight;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: lighten($primaryDark, 5%);
  }

  &:not(:nth-child(1)) {
    margin-left: 5px;
  }
}

.filter {
  border: 1px solid $primaryLight;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: 100%;
  height: 100px;
  overflow: auto;
  margin-top: 10px;
  color: $secondaryLight;

  &::-webkit-scrollbar {
    background-color: $primaryDark;
    border-radius: 6px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 6px;
  }
}

.filterTitle {
  margin: 0;
  font-size: 17px;
  text-align: center;
  font-weight: 400;
}

.label {
  outline: none;
  user-select: none;
  margin-left: 5px;
  font-size: 15px;
}

.form {
  margin-top: 5px;
}

.listItemWrapper {
  display: flex;
}

.checkbox {
  appearance: none;
  place-content: center;
  color: $secondaryLight;
  width: 15px;
  height: 15px;
  border: 1px solid $primaryLight;
  border-radius: 3px;
  background-color: transparent;
  z-index: 1;
}

.rangeWrapper {
  border: 1px solid $primaryLight;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0 30px 15px 30px;
}

.rangeTitle {
  text-align: center;
  margin-top: 10px;
  color: $secondaryLight;
}

.rangeValues {
  color: $secondaryLight;
  display: flex;
  justify-content: space-between;
}

.rangeContainer {
  margin-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.rangeLine {
  position: absolute;
  height: 3px;
  background: #4f2fb8;
}

.range {
  width: 100%;
  appearance: none;
  background-color: #dfc5f4;
  outline: none;
  height: 3px;
  cursor: pointer;

  &::-webkit-slider-thumb {
    position: relative;
    background: $light;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    appearance: none;
  }
}

.cards {
  padding-left: 20px;
  height: 100%;
}

.cardsHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: $primary;
  border: 1px solid $primaryLight;
  border-radius: 10px;
  color: $secondaryLight;
}

.cardsHeaderSelect {
  width: 70%;
  min-width: 30%;
  max-width: 30%;
  border: 1px solid $primary;
  outline: none;
  border-radius: 3px;
  background-color: $primaryDark;
  color: $secondaryLight;
}

.cardsHeaderInput {
  border: 1px solid $primary;
  border-radius: 3px;
  background-color: $primaryDark;
  outline: none;
  color: $secondaryLight;

  &::placeholder {
    font-size: 14px;
    font-weight: 200;
  }
}

.cardsHeaderButton {
  font-size: 15px;
  border-radius: 3px;
  padding: 2px 20px;
  border: 1px solid $primaryLight;
  cursor: pointer;
  background-color: $primaryDark;
  color: $secondaryLight;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: lighten($primaryDark, 5%);
  }
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  padding: 10px;
  margin-top: 10px;
  height: calc(100% - 50px);
  overflow: auto;
  background-color: $primary;
  border: 1px solid $primaryLight;
  border-radius: 10px;
  color: $secondaryLight;
  overflow: auto;

  &::-webkit-scrollbar {
    background-color: $primaryDark;
    border-radius: 6px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 6px;
  }
}

.card {
  background-color: $primaryDark;
  border: 1px solid $primaryLight;
  border-radius: 3px;
  background-image: url(../../img/random_img.jpg);
  width: 160px;
  height: 190px;
  position: relative;
}

.cardTitle {
  display: block;
  background-color: $primary;
  text-align: center;
  padding: 5px 0;
}

.cardButtons {
  display: flex;
  position: absolute;
  bottom: 0;
}

.cardButton {
  font-size: 15px;
  border-radius: 3px;
  padding: 2px 15px;
  border: 1px solid $primaryLight;
  cursor: pointer;
  background-color: $primaryDark;
  color: $secondaryLight;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: lighten($primaryDark, 5%);
  }
}
