@import '../../styles/variables.scss';

.select {
  width: 70%;
  min-width: 30%;
  max-width: 30%;
  border: 1px solid $primaryLight;
  outline: none;
  border-radius: 3px;
  background-color: $primaryDark;
  color: $secondaryLight;
}