@import '../../styles/variables.scss';

.filters {
  padding: 10px;
  min-width: 250px;
  height: 100%;
  overflow: auto;
  border: 1px solid $primaryLight;
  border-radius: 10px;
  background-color: $primary;

  &::-webkit-scrollbar {
    display: none;
  }
}